<div class="left-back">
  <div class="stars dark-bg">
  </div>
</div>

<div class="left">
  <div class="">
    <a href="../index">
      <p class="light-text go-home left-align left-pad top-pad-low">
        Return Home
      </p>

    </a>
    <div class="large-top-pad">

    </div>


    <div class="white-text left-align left-pad">
      <h1 class="init-invis top-pad-low">TITLE</h1>
    </div>

    <div class="break top-pad-low">
    </div>

    <div class="left-pad">

      <div class="left-align task-proj">
        <h2 class="light-text">Role:</h2>
      </div>
      <div class="about-proj right-pad">
        <p class="light-text pad-top-slight left-align">Sculptor and Potter</p>
      </div>


      <div class="break top-pad-low">
      </div>


      <div class="left-align task-proj">
        <h2 class="light-text">Toolbox:</h2>
      </div>
      <div class="about-proj right-pad">
        <p class="light-text pad-top-slight left-align">Paper, Stoneware,
        Porcelain</p>
      </div>

    </div>
  </div>


  <div class="nav-foot">
    <a class="prev" href="index.html">
      <div class="nav-button border-right">
        <p class="top-pad-low light-text">Prev</p>
      </div>
    </a>

    <a class="next" href="index.html">
      <div class="next nav-button">
        <p class="top-pad-low light-text">Next</p>
      </div>
    </a>


  </div>

</div>




<script type="text/javascript" src="{{ site.url }}js/library/stars.js"></script>
