<div class="left-back">
  <div class="stars dark-bg">
  </div>
</div>

<div class="left">

  <a href = "{{site.url}}">
    <div class="banner-button left-inner-container">
      <p>
        Return Home
      </p>
    </div>
  </a>

  <div class="left-inner-container">
    <div class="top-padding">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <div class="footer-nav-container">
    <a class="footer-nav">
      <div >
        <p>Prev</p>
      </div>
    </a><a class="footer-nav">
      <div >
        <p>Next</p>
      </div>
    </a>
  </div>

</div>



<script type="text/javascript" src="{{ site.url }}js/library/stars.js"></script>
<script type="text/javascript" src="{{ site.url }}js/library/toggle.js"></script>
<script type="text/javascript">
  console.log("hi friend! hope you're having a really solid day!");
  {% capture posts %}
  [
    {% for post in site.posts %}
    {
      "title"    : "{{ post.title }}",
      "url"      : "{{ post.url }}",
      "cover_url"      : "{{ post.cover_url }}",
      "date"     : "{{ post.date | date: "%B %d, %Y" }}",
    } {% if forloop.last %}{% else %},{% endif %}
    {% endfor %}
  ]
  {% endcapture %}
  var posts = {{posts | strip_newlines}};


  var curr_post_url = "{{ page.url }}";
  var curr_post_index = 0;
  for (var i=0; i < posts.length; i++){
    if (posts[i].url == curr_post_url) {
      curr_post_index = i;
    }
  }


  togglePostLeftPanel(-1, posts, curr_post_index);
  togglePostLeftPanel(1, posts, curr_post_index);

</script>
