<div class="left-back">
  <div class="stars dark-bg">
  </div>
</div>

<div class="left">

  <a href = "{{site.url}}">
    <div class="banner-button left-inner-container">
      <p>
        Return Home
      </p>
    </div>
  </a>

  <div class="left-inner-container">
    <div class="top-padding">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <div class="footer-nav-container">
    <div class="footer-nav">
      <p>Prev</p>
    </div><div class="footer-nav">
      <p>Next</p>
    </div>
  </div>

</div>



<script type="text/javascript" src="{{ site.url }}js/library/stars.js"></script>
<script type="text/javascript">
  console.log('butts');
  var i =0;
  //TODO: fix whatever is wrong trying to iterate through this loop.
  // google: how to iterate through a loop using smarty and JavaScript
  // {% for post in site.posts %}
    // console.log('butts', {{post}}.length);
  // {% endfor %}
</script>
